.header{
  padding: 25px 50px;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 5px solid #E4EDF3;
}
.header__logo{
  height: 30px;
  font-size: 30px;
  position: relative;
  display: inline-block;
}
.header__logo::after{
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  display: block;
  height: 30px;
  width: 30px;
  background-image: url("/../../img/logo.png");
  background-size: cover;
}